body{
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    padding: 20px;
    text-align: center;
}
h1{
    text-align: center;
    color:#333;
    margin-bottom:30px ;
}
table{
    width:100px;
    border-collapse: collapse;
    background: write;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
th, td {
     padding: 12px 15px;
     border: 1px solid #ddd;
     text-align: left;
}
thead {
    background-color: #4a90e2;
    color:white;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #f1f7ff;
}
    @media screen and (max-width: 768px){
       .table-area{
        overflow-x: scroll;
        max-height: 500px;
       }
       thead{
         position: sticky;
         top:0;
       }
    }
